* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  box-sizing: border-box;
}

body {
  background: #222;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav ul li a:hover {
  color: rgba(238, 174, 202, 1);
}

nav ul li a {
  position: relative;
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: rgba(148, 187, 233, 1);
  height: 1px;
}
nav ul li a:hover:after {
  width: 100%;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: #fff;
  margin: 30px auto 0;
  border-radius: 20px;
  padding: 20px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button i {
  font-size: 20px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 90px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

.weather {
  display: none;
}

.forecast {
  display: none;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

.forecast {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: #fff;
  margin: 20px auto 0;
  border-radius: 20px;
  padding: 10px 20px;
}

.forecast img {
  width: 50%;
}

.forecast-dets {
  display: flex;
  justify-content: space-between;
  align-content: center;

  text-align: center;
}

.footer {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: #fff;
  margin: 40px auto 0;
  padding: 10px;
  bottom: 0;
  left: 0;
  position: fixed;
  text-align: center;
}

.footer a {
  text-decoration: none;
  cursor: pointer;
  color: purple;
}

.footer i {
  color: rgb(246, 6, 6);
}

nav .fa-solid {
  display: none;
}

@media only screen and (max-width: 600px) {
  .search input {
    width: 70%;
  }

  .col img {
    width: 60px;
  }

  .humidity,
  .wind {
    font-size: 15px;
    margin-top: -6px;
  }

  nav .fa-solid {
    display: block;
    font-size: 25px;
    color: #fff;
  }

  nav ul {
    background: linear-gradient(
      90deg,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}
